@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Video Section */

#myVideo {
  position: relative;
  width: 100%;
  height: 700px;
  filter: brightness(20%);
}

/* Home Section */

.home-section {
  position: absolute;
  width: 100%;
  height: 130vh;
  color: white;
  z-index: 2;
  top: 3%;
}

.home-section .header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  height: 11%;
  padding: 10px 20px;
  z-index: 1000;
  top: 0;
}

.home-section .header .header-logo {
  width: 150px;
  height: 50px;
}

.home-section .header .header-logo img {
  width: 90%;
  height: 50px;
}

.home-section .header .header-menu {
  margin-left: 100px;
  width: 700px;
}

.header .dropdown {
  float: left;
  overflow: hidden;
  margin-left: 20px;
}

.drop-nav {
  height: 50px;
  padding: 10px;
}

.dropdown .drop-nav .clickbtn {
  font-size: 1rem;
  color: white;
  outline: none;
  background-color: inherit;
  height: 60px;
  text-decoration: none;
}

.clickbtn {
  font-size: 1rem;
  color: white;
  outline: none;
  background-color: inherit;
  height: 60px;
  padding-top: 10px;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  min-height: 100px;
  min-width: 250px;
  background-color: white;
  box-shadow: inset 0.1px 0.1px 1px 0.1px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 10px 10px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: bolder;
  font-size: 0.9rem;
}

.dropdown-content a:hover {
  background-color: #e6c4cb;
  color: #ee076e;
  border-radius: 4px;
}

.dropdown:hover .dropdown-content {
  display: block;
  margin-left: 16px;
}

.dropdown .clickbtn:hover {
  color: #ee076e;
}

.clickbtn:hover {
  color: #ee076e;
}

.home-section .header .nav-button button {
  outline: none;
  padding: 8px 30px;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid grey;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}

.home-section .header .nav-button button:hover {
  background: linear-gradient(-259deg, #f81f01 0, #ee076e 100%);
  border: 2px solid transparent;
  transform: translateY(-2px);
}

.home-section .heading-content {
  width: 700px;
  height: 400px;
  margin: 10px 50px -20px 50px;
  background: -webkit-linear-gradient(145deg, #f81f01, #ee076e);
  -webkit-background-clip: text;
  background-clip: "";
  -webkit-text-fill-color: transparent;
  padding-top: 75px;
}

.home-section .heading-content h1 {
  padding-top: 40px;
  font-size: 5rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.home-section .home-content-div {
  display: flex;
  justify-content: space-between;
  padding: 0 60px 30px 60px;
}

.home-section .home-content-div .boxes {
  width: 380px;
  height: 260px;
}

.home-content-div .boxes img {
  padding-bottom: 10px;
}

.home-content-div .boxes h1 {
  padding-bottom: 10px;
}

.home-content-div .boxes p {
  color: #c6c9d8;
}

.about-section {
  width: 100%;
  height: 850px;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.about-section .about-left-div {
  width: 800px;
  position: absolute;
  top: 700px;
}

.about-section .about-left-div img {
  border-radius: 10px;
}

.about-section .about-right-div {
  width: 700px;
  height: 400px;
  margin-top: 170px;
  margin-left: 550px;
}

hr {
  border: 1px solid rgb(232, 229, 229);
}

.line-div {
  display: flex;
  width: 535px;
  justify-content: space-between;
}

.line {
  width: 40px;
  height: 2px;
  background-color: #ee076e;
  margin-top: -2.45px;
  z-index: 1;
}

.about-right-div .about-title {
  text-transform: uppercase;
  background: -webkit-linear-gradient(145deg, #f81f01, #ee076e);
  -webkit-background-clip: text;
  background-clip: "";
  -webkit-text-fill-color: transparent;
}

.about-right-div h1 {
  font-size: 2rem;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bolder;
}

.about-right-div p {
  font-size: 1.1rem;
  margin-bottom: 50px;
  opacity: 0.7;
}

.experience-main-div {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.experience-main-div .boxes {
  width: 200px;
  height: 130px;
}

.experience-main-div span {
  text-transform: uppercase;
  background: -webkit-linear-gradient(145deg, #f81f01, #ee076e);
  -webkit-background-clip: text;
  background-clip: "";
  -webkit-text-fill-color: transparent;
}

.experience-main-div h1 {
  font-size: 3rem;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bolder;
  background: -webkit-linear-gradient(145deg, #f81f01, #ee076e);
  -webkit-background-clip: text;
  background-clip: "";
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

hr {
  background-color: #fff;
}

hr.hr1 {
  opacity: 0.6;
  background-image: linear-gradient(to right, red, rgba(0, 0, 0, 0.75));
}

.services-section {
  width: 100%;
  height: 850px;
  background-color: rgba(0, 0, 0, 0.03);
  padding-top: 100px;
}

.services-section .services_container {
  width: 650px;
  height: 260px;
  margin: 0 auto;
  text-align: center;
}

.services-section .services_container span {
  background: -webkit-linear-gradient(145deg, #f81f01, #ee076e);
  -webkit-background-clip: text;
  background-clip: "";
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.services-section .services_container h1 {
  font-size: 2.5rem;
  margin-top: 10px;
  margin-bottom: 15px;
}

.services-section .services_container p {
  opacity: 0.7;
  margin-bottom: 40px;
}

.services-section .services_container button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bolder;
}

.services-section .services_container button:hover {
  background: -webkit-linear-gradient(145deg, #f81f01, #ee076e);
  -webkit-background-clip: text;
  background-clip: "";
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.services-wrapper {
  width: 100%;
  height: 500px;
}

.services-wrapper .boxes-row {
  width: 90%;
  height: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.services-wrapper .boxes-row .boxes-col {
  width: 580px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.services-wrapper .boxes-row .boxes-col .boxes-icon {
  width: 100px;
  padding: 50px 10px;
  color: red;
}

.services-wrapper .boxes-row .boxes-col h1 {
  padding-top: 30px;
  margin-bottom: 20px;
}

.services-wrapper .boxes-row .boxes-col:hover {
  background: -webkit-linear-gradient(145deg, #f81f01, #ee076e);
  color: #fff;
  -webkit-transition: left 180ms ease-out, -webkit-transform 50ms ease-in-out;
  transition: "";
  transform: translateY(-5px);
}

.services-wrapper .boxes-row .boxes-col:hover i {
  color: #fff;
}

.casestudy-section {
  width: 100%;
  height: 800px;
  padding-top: 80px;
}

.casestudy-section .swiper {
  margin-top: 50px;
  width: 92%;
  padding-bottom: 40px;
}

.swiper-slide {
  padding-left: 10px;
  height: 40px;
}

.swiper-image2 {
  background-image: url(../Images/Bplace-case-study-banner-390x532.png);
  width: 345px;
  height: 475px;
  margin-top: 15px;
  border-radius: 6px;
  filter: brightness(90%);
}

.swiper-image2:hover {
  background: linear-gradient(rgb(234, 8, 8) 50%, black 100%),
    url(../Images/Bplace-case-study-banner-390x532.png);
  background-blend-mode: screen;
  transform: scale(1.06);
  transition: 0.3s all;
}

.swiper-image3 {
  background-image: url(../Images/bpointer-online-food-delivery-management-system-390x532.jpg);
  width: 345px;
  height: 475px;
  margin-top: 15px;
  border-radius: 6px;
  filter: brightness(80%);
}

.swiper-image3:hover {
  background: linear-gradient(rgb(234, 8, 8) 50%, black 100%),
    url(../Images/bpointer-online-food-delivery-management-system-390x532.jpg);
  background-blend-mode: screen;
  transform: scale(1.06);
  transition: 0.3s all;
}

.swiper-image4 {
  background-image: url(../Images/bpointer-casestudy_finance-390x532-3.jpg);
  width: 345px;
  height: 475px;
  margin-top: 15px;
  border-radius: 6px;
  filter: brightness(80%);
}

.swiper-image4:hover {
  background: linear-gradient(rgb(234, 8, 8) 50%, black 100%),
    url(../Images/bpointer-casestudy_finance-390x532-3.jpg);
  background-blend-mode: screen;
  transform: scale(1.06);
  transition: 0.3s all;
}

.swiper-image5 {
  background-image: url(../Images/bpointer-casestudy_tyre-390x532-4.jpg);
  width: 345px;
  height: 475px;
  margin-top: 15px;
  border-radius: 6px;
  filter: brightness(80%);
}

.swiper-image5:hover {
  background: linear-gradient(rgb(234, 8, 8) 50%, black 100%),
    url(../Images/bpointer-casestudy_tyre-390x532-4.jpg);
  background-blend-mode: screen;
  transform: scale(1.06);
  transition: 0.3s all;
}

.swiper-image6 {
  background-image: url(../Images/bpointer-casestudy_iot-390x532.jpg);
  width: 345px;
  height: 475px;
  margin-top: 15px;
  border-radius: 6px;
  filter: brightness(80%);
}

.swiper-image6:hover {
  background: linear-gradient(rgb(234, 8, 8) 50%, black 100%),
    url(../Images/bpointer-casestudy_iot-390x532.jpg);
  background-blend-mode: screen;
  transform: scale(1.06);
  transition: 0.3s all;
}

.swiper-image7 {
  background-image: url(../Images/bpointer-casestudy_tyre-390x532-4.jpg);
  width: 345px;
  height: 475px;
  margin-top: 15px;
  border-radius: 6px;
  filter: brightness(80%);
}

.swiper-image7:hover {
  background: linear-gradient(rgb(234, 8, 8) 50%, black 100%),
    url(../Images/bpointer-casestudy_tyre-390x532-4.jpg);
  background-blend-mode: screen;
  transform: scale(1.06);
  transition: 0.3s all;
}

.swiper-image8 {
  background-image: url(../Images/bpointer-casestudy_blockchain-390x532-6.jpg);
  width: 345px;
  height: 475px;
  margin-top: 15px;
  border-radius: 6px;
  filter: brightness(80%);
}

.swiper-image8:hover {
  background: linear-gradient(rgb(234, 8, 8) 50%, black 100%),
    url(../Images/bpointer-casestudy_blockchain-390x532-6.jpg);
  background-blend-mode: screen;
  transform: scale(1.06);
  transition: 0.3s all;
}

.swiper-image9 {
  background-image: url(../Images/bpointer-casestudy_webdevelopment-390x532-7.jpg);
  width: 345px;
  height: 475px;
  margin-top: 15px;
  border-radius: 6px;
  filter: brightness(80%);
}

.swiper-image9:hover {
  background: linear-gradient(rgb(234, 8, 8) 50%, black 100%),
    url(../Images/bpointer-casestudy_webdevelopment-390x532-7.jpg);
  background-blend-mode: screen;
  transform: scale(1.06);
  transition: 0.3s all;
}

.swiper .swiper-slide .image-content {
  position: absolute;
  bottom: 5%;
  left: 10%;
  color: white;
  width: 300px;
  padding: 20px;
}

.swiper .swiper-slide .swiper-heading {
  font-size: 1.2rem;
  text-align: left;
  width: 200px;
}

.swiper .swiper-slide .image-content .swiper-para {
  font-size: 0.9rem;
  color: rgb(214, 211, 211);
}

.swiper .swiper-slide .image-content .swiper-btn {
  outline: none;
  padding: 6px 15px;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid grey;
  background-color: transparent;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 30px;
}

.casestudy-section span {
  margin-left: 600px;
  background: -webkit-linear-gradient(145deg, #f81f01, #ee076e);
  -webkit-background-clip: text;
  background-clip: "";
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.casestudy-section h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 2.5rem;
}

.casestudy-section .image-content .swiper-btn:hover {
  background: linear-gradient(-259deg, #f81f01 0, #ee076e 100%);
  border: 2px solid transparent;
  transform: translateY(-2px);
  border: 2px solid #f9004d;
}

.phenomenal {
  width: 100%;
  height: 750px;
  background-color: rgba(0, 0, 0, 0.01);
}

.phenomenal h1 {
  padding: 130px 200px 80px 200px;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 300;
  text-align: center;
}

.phenomenal h4 {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.phenomenal span {
  color: #f9004d;
}

.phenomenal .phenomenal-employee {
  width: 550px;
  height: 200px;
  padding: 20px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phenomenal-employee img {
  padding-left: 20px;
  margin-bottom: 40px;
}

.information-section {
  width: 100%;
  height: 1200px;
  padding: 100px 60px;
}

.information-section span {
  background: -webkit-linear-gradient(145deg, #f81f01, #ee076e);
  -webkit-background-clip: text;
  background-clip: "";
  -webkit-text-fill-color: transparent;
}

.information-section h1 {
  margin-top: 20px;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.information-section p {
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
}

.company-logo {
  width: 100%;
  height: 300px;
  margin-top: 50px;
}

.company-logo .row1 {
  width: 98%;
  padding: 10px;
  display: flex;
  align-items: center;
}

.company-logo .row1 img {
  width: 150px;
  height: 70px;
  margin-left: 70px;
  margin-bottom: 50px;
  opacity: 0.7;
}

.company-logo .row1 img:hover {
  opacity: 1;
}

.company-logo .row2 {
  width: 90%;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-left: 130px;
}

.company-logo .row2 img {
  width: 150px;
  height: 70px;
  margin-left: 70px;
  margin-bottom: 50px;
  opacity: 0.7;
}

.company-logo .row2 img:hover {
  opacity: 1;
}

.header-footer {
  display: flex;
  width: 100%;
  height: 550px;
}

.header-footer .contactus {
  background-image: linear-gradient(145deg, #f81f01, #ee076e),
    url("../Images/bpointer-footer-image.png");
  width: 50%;
  height: 550px;
  background-blend-mode: screen;
  background-repeat: no-repeat;
  border: 2px solid red;
  border-radius: 0 8px 0 0;
  background-position-x: 70%;
  background-position-y: center;
}

.header-footer .contactus h5 {
  color: white;
  padding: 140px 80px 20px 80px;
  font-size: 1.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.header-footer .contactus h1 {
  color: white;
  font-size: 4.6rem;
  padding: 0 200px 20px 80px;
}

.header-footer .contactus button {
  outline: none;
  padding: 8px 30px;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid white;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 80px;
}

.contactus button:hover {
  background-color: white;
  color: #f9004d;
  font-weight: bolder;
  -webkit-transition: left 180ms ease-out, -webkit-transform 50ms ease-in-out;
  transition: "";
  transform: translateY(-3px);
}

.header-footer footer {
  background-image: url(../Images/bg-image-8.jpg);
  width: 50%;
  height: 480px;
  margin-top: 70px;
}

footer .row {
  width: 450px;
  height: 200px;
  margin-left: 120px;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}

footer .row .col {
  width: 200px;
  height: 200px;
  color: white;
}

footer .row .col a {
  color: rgba(207, 205, 205, 0.8);
  text-decoration: none;
  display: flex;
  margin-top: 20px;
}

footer .row .col a:hover {
  background: -webkit-linear-gradient(145deg, #f81f01, #ee076e);
  -webkit-background-clip: text;
  background-clip: "";
  -webkit-text-fill-color: transparent;
}

footer p {
  color: rgba(207, 205, 205, 0.8);
  margin: 50px 100px;
}

footer a {
  color: rgba(207, 205, 205, 0.8);
  text-decoration: none;
}

footer a:hover {
  background: -webkit-linear-gradient(145deg, #f81f01, #ee076e);
  -webkit-background-clip: text;
  background-clip: "";
  -webkit-text-fill-color: transparent;
}

.social-logo {
  margin-top: 20px;
  opacity: 0.6;
}

/* slider js */

.wrapper {
  display: flex;
  justify-content: space-around;
  min-height: 500px;
  width: 100%;
  margin-top: 40px;
}

.wrapper img {
  width: 100%;
  height: 460px;
}

.ui-card {
  width: 370px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-out;
  /* background: radial-gradient(#111 50%, #000 100%); */
  background: linear-gradient(rgb(234, 8, 8) 50%, black 100%);
  /* background-position-x: -300px; */
  /* background-position: 100px 0 0 0; */
  border-radius: 6px;
  height: 460px;
}

.ui-card img {
  transform: scale(1);
  transition: all 0.3s ease-out;
}

.ui-card:hover img {
  transform: scale(1.1) translateY(-1px);
  opacity: 0.3;
}

.ui-card .description {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 10px 15px 25px;
  width: 100%;
  text-align: center;
  color: #fff;
}

.ui-card .description h1 {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0 0 20px;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out;
  text-align: left;
}

.ui-card .description p {
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out 0.2s;
  color: #c6c9d8;
  text-align: left;
}

.ui-card .description button {
  color: #fff;
  background: transparent;
  display: inline-block;
  padding: 8px 25px;
  border-radius: 5px;
  text-decoration: none;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease-out 0.4s;
  border: 2px solid #f9004d;
  margin-left: -210px;
}

.ui-card .description button:hover {
  background: linear-gradient(-259deg, #f81f01 0, #ee076e 100%);
  border: 2px solid transparent;
}

.ui-card:hover .description h1 {
  opacity: 1;
  transform: translateY(0px);
}

.ui-card:hover .description p {
  opacity: 1;
  transform: translateY(0px);
}

.ui-card:hover .description button {
  opacity: 1;
  transform: translateY(0px);
}
